<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <title>WebTT : préparation des sous-titrages</title>
    <style type="text/css">
      .ui-dialog { z-index: 100; }
    </style>
  </head>
  <body>
    <h1>WebTT : préparation des sous-titrages</h1>
    <ul>
      <li><a href="/video/addEleves">Ajout d'élèves</a></li>
      <li><a href="/video/addProfs">Ajout de profs</a></li>
      <li><a href="/video/listAteliers">Liste des ateliers de sous-titrage</a></li>
      <li><a href="/admin">Autres fonctions d'administration : lister, modifier, effacer, etc.</a></li>
    </ul>
  </body>
</html>
